*{
	margin: 0;
	
}
body {
	/*background: url("img/background.jpg") repeat;*/
	/*background-attachment: fixed;*/
	/*background-size: content;*/
	
	font-family: 'Bree Serif', sans-serif
	
}

header{
	background-color: white;
	width: 100%;
	position: fixed;
}

nav{
	text-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
}

.list:hover {
	color: grey;
	border-bottom: 1px solid grey;
}

nav li{
	display: inline-block;
	padding: 15px 30px;
}

#logo{
	font-family: 'Pacifico', cursive;
    font-size: 28px;
}

#banner{
	width: 100%;
	height: 700px;
	background: url("img/welcome.png") no-repeat top center;
  	background-size: cover;
  	background-attachment: fixed;
  }

#banner-reflection{
	width: 100%;
	height: 700px;
	background: url("img/reflection.jpg") no-repeat top center;
  	background-size: cover;
  	background-attachment: fixed;
  	text-align: center;
  	padding-top: 300px;

}

#title {
	width: 240px;
	height: 50px;
	margin: 0 auto;
	color: white;
	font-size: 28px;
	/*border: 1px solid black;*/

}

#for-socmed {
	width: 120px;
	height: 40px;
	margin: 0 auto;

}

.socmed {
	
	padding: 10px 10px;
	/*border: 1px solid black;*/
	height: 20px;
	width: 20px;
	float: left;
}

.socmed img {
	height: 30px;
	width: 30px;
}

.socmed img:hover {
	opacity: 0.6;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 0.01em;
	padding-top: 20px;
}
h2 {
	text-align: center;
}

.article-list {
	width: 60%;
	margin: 0 auto;
	background-color: white;
	/*border: 1px solid black;*/

}

article{
	padding: 20px 30px 40px 30px;
	border-bottom: 1px solid #f1c40f;
	text-align: justify;
	font-size: 20px;

}
article p {
	font-style: italic;
	color: #d35400;

}


a {
	text-decoration: none;
	color: black;
}
section {
	clear: left;
	padding-top: 30px;
	padding-bottom: 20px;
	width: 100%;
}
#about-container {
	background-color: white;
	/*border: 1px solid black;*/
	overflow: hidden;
	width: 100%;
	height: auto;

}

.about {
	width: 50%;
	margin: 0 auto;
	text-align: justify;
	font-size: 20px;
	/*border: 1px solid black;*/
}

.about-list {
	text-align: center;
	padding: 20px 20px;
	height: 29%;
	width: 29%;
	margin: 0 auto;
	float: left;
	/*border: 1px solid black;*/

}

.about-list img {
	height: 100%;
	width: 100%;
	border-radius: 100%; 

}
@media  (max-width: 960px) {
	#about-container {
		width: auto;
	}
	.about-list{
		width: auto;
		float: none;
	}
	#banner{
		background: url("img/welcome-copy.png") no-repeat top center;
	}
}

footer {
	clear: left;
	background-color: black;
	color: white;
	height: auto;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
h5 {
	padding-top: 25px;
	padding-bottom: 25px;
}